*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
*.iml
target/
attribute-security-filter-soi/data/SanFranciscoOpenData_311CaseData.gdb/
samples/attribute-security-filter-soi/data/SanFranciscoOpenData_311CaseData.gdb/a00000001.TablesByName.atx
samples/attribute-security-filter-soi/data/SanFranciscoOpenData_311CaseData.gdb/
